<div class="row">
    <div class="col">
        <form>
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" name="name" required>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" class="fo  rm-control" name="amount" required>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <button class="btn btn-success" style="margin-right: 2px;">Add</button>
                    <button class="btn btn-danger" style="margin-right: 2px;">Delete</button>
                    <button class="btn btn-warning">Clear</button>


                </div>
            </div>
        </form>
    </div>
</div>